<!DOCTYPE html>
<html>
  <head>
    <title>Reddit Sentiment Analysis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge,chrome=1" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='dash.css') }}"
    />
  </head>

  <body>
    <div
      class="contact-us"
      style="
        box-shadow: 15px 15px 1px #c62828, 15px 15px 1px 2px black !important;
      "
    >
      <h4 style="background-color: #ee6969">Reddit Sentiment Analysis</h4>
      <form action="/reddit" method="POST">
        <input name="keyword" placeholder="Keyword" type="text" required />
        <input
          name="comments"
          placeholder="No. of Comments"
          type="text"
          required
        />
        <button class="button" style="background-color: #ee6969">
          SHOW RESULTS
        </button>
      </form>
    </div>
    <a class="button" href="/">GO BACK</a>
  </body>
</html>
